body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
#header, #footer {
    width: 100%;
    background-color: #3a5c69;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.nav ul {
    list-style: none;

    padding: 0;
    display: flex;
    margin-right: 50px;
}
.nav ul li {
    margin-left: 15px;
}
.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.3s;
}
.nav ul, .nav li:hover, .nav.a:hover {
    transition: all .5s;
    transform: scale(1.1);
}

#content {
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}
#Contact{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #3a5c69;
    h1{
        color: white;
    }
    p{
        color: white;
        text-align: left;
    }
    label{
        max-width: 250px;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}
.Button_Container{
    justify-content: center;
    align-items: flex-start;
    button{
        width: 100%;
        margin: 20px;
        max-width: 250px;
        color: white;
        background-color: #3a5c69;
        padding: 20px;
        float: left;
    }
}
.input_box{
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    font-family: "Comic Sans MS", cursive;
}
