/* The body styling ensures that horizontal scrolling is prevented and the box-sizing is set to border-box to make width and height calculations more predictable. */
body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    a{
        font-family: Lato, sans-serif;
    }
    a:visited {
        color: white;

    }
    a:link {
        color: white;
    }

}
/* header and footer are styled to span the full width, with a background color and white text. Flexbox is used to evenly distribute content and align items centrally. */
.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #3a5c69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    left: 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #bbbbbb;
    border-radius: 20px;
    padding: 5px 10px;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

.search-container:hover {
    border-color: #3a5c69;
}

.search-bar {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 400px;
    background: none;
    color: #333;
}

.search-bar::placeholder {
    color: #999;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #3a5c69; /* Icon color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.search-btn:hover {
    color: #1e3a48; /* Darker icon color on hover */
}

.va_menu_icon {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 99;
}

.va_menu_icon:focus {
    outline: none;
}

.va_menu_icon span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 6px;
    background: #fff;
    border-radius: 10px;
}

.va_menu_icon span:before, .va_menu_icon span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #fff;
    content: "";
    border-radius: 10px;
}

.va_menu_icon span:before {
    top: -14px;
}

.va_menu_icon span:after {
    bottom: -14px;
}

.va_menu_icon-X span {
    transition: background 0s 0.3s;
}

.va_menu_icon-X span:before, .va_menu_icon-X span:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.va_menu_icon-X span:before {
    transition-property: top, transform;
}

.va_menu_icon-X span:after {
    transition-property: bottom, transform;
}

.va_menu_icon-X.is-active span {
    background: none;
}

.va_menu_icon-X.is-active span:before {
    top: 0;
    transform: rotate(45deg);
}

.va_menu_icon-X.is-active span:after {
    bottom: 0;
    transform: rotate(-45deg);
}

.va_menu_icon-X.is-active span:before, .va_menu_icon-X.is-active span:after {
    transition-delay: 0s, 0.3s;
}

nav {
    position: absolute;
    top: 30px;
    left: 1850px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    z-index: 4;
}
.bubble_all {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4f7480;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;

}
.bubble_submenu{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left: 100%;
    top: 0;
    transform: translate(10px, 0); /* Adjust as needed */
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;

}
#sub_one, #sub_two, #sub_three, #sub_four, #sub_five, #sub_six {
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0 0 15px -5px #111;
    text-align: center;
    background-color: #779ca8;
}

#sub_one {
    left: 5px;
    svg{
        width: 70px;
        margin-top: -45px;
    }
}

#sub_two {
    left: 75px;
}
#sub_three{
    left: 150px;
    svg{
        transform: translateY(-385px);
    }
}
#sub_four{
    left: 225px;
}
#sub_five{
    left: 300px;
    svg {
        transform: translateY(-10px);
    }
}
#sub_six{
    left: 375px;
    svg {
        transform: translateY(-385px);
    }
}
#sub_one>h3, #sub_two>h3, #sub_three>h3, #sub_four>h3, #sub_five>h3, #sub_six>h3 {
    position: absolute;
    font-size: 16px;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

#one {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 3;
    box-shadow: 0 0 15px -5px #111;
    text-align: center;
    background-color: #779ca8;
    font-family: Lato, sans-serif;
    fill: black;
    h3 {
        position: absolute;
        font-size: 16px;
        color: #ffffff;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bubble svg{
    width: 40px;
    margin-top: 12px;
}
.bubble svg:hover ~ h3 {
    opacity: 1;
}
.bubble h3 {
    opacity: 0;
    transition: all 400ms;
    -webkit-transition: all 600ms;
}

#one svg {
    width: 40px;
    margin-top: 12px;
}

/* Login Section */
#Content {
    min-height: 100vh;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*
    align img_overlay content behind login element
    blur so user can focus on login element
 */
.img_overlay {
    position: absolute;
    top: 100px; /*fix for covering header*/
    width: 100%;
    height: 100%;
    background-image: url(../images/Londis_Front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(5px);
    z-index: 1;
    max-height: 1100px; /*Fix covering the footer*/
}

/*
    login id
    centred  elements
    infront of img_overlay class
    with boxshadow and rounded border
 */
#login {
    position: relative; /* forward from img_overlay element */
    z-index: 2;
    display: flex;
    flex-direction: column; /* Stack h1 and h2 vertically */
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
    background-color: #3e5b68;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 56, 34, 0.7);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    /* Links */
    h2 a, h1 a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
    }

}

/* Form Layout */
#login-form {
    display: grid;
    gap: 20px;
    width: 100%;

}

/* Form Items */
.form-item {
    display: grid;
    gap: 5px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

/* styling for different input types
    text and password

*/
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;

}
/*
    submit styled as a button
 */
input[type="submit"] {
    padding: 12px;
    background-color: #606060;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: #fdffff 0px 0px 5px;
    margin-right: 25px;
    margin-left: 30px;
}
/*
    Hover stylinf to black when mouse over
 */
input[type="submit"]:hover {
    background-color: #000000;
}

input.error{
    border: 1px solid red;
}
label.error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#footer div {
    text-align: center;
    flex: 1;
}
footer {
    width: 100%;
    height: auto;
    background-color: #3a5c69;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}