body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
#header, #footer {
    width: 100%;
    background-color: #3a5c69;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 50px;
}
.nav ul li {
    margin-left: 15px;
}
.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.3s;
}
.nav ul, .nav li:hover, .nav.a:hover {
    transition: all .5s;
    transform: scale(1.1);
}

#content {
    min-height: 100vh;
    width: 100%;
    margin: 20px;
    background-image: url("../images/londis_Shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-items: center;
    align-content: center;
    #Content_H1{
        float: left;
    }
}
.Shopping_cart{
    margin: 60px;
    width: 70%;
    background-color: #ffffff;
    color: #000000;

}

.column_labels{
    /*display: flex;*/
    /*flex-direction: column;*/
    display: flex;
    justify-content: space-around;
}

.Products{
    display: flex;
    justify-content: space-around;
}
#footer div {
    text-align: center;
    flex: 1;
    height: auto;
    width: 100%;
}
