/* The body styling ensures that horizontal scrolling is prevented and the box-sizing is set to border-box to make width and height calculations more predictable. */
body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    a:visited {
        color: white;
    }
    a:link {
        color: white;
    }

}
/* header and footer are styled to span the full width, with a background color and white text. Flexbox is used to evenly distribute content and align items centrally. */
.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #3a5c69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    left: 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #bbbbbb;
    border-radius: 20px;
    padding: 5px 10px;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

.search-container:hover {
    border-color: #3a5c69;
}

.search-bar {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 400px;
    background: none;
    color: #333;
}

.search-bar::placeholder {
    color: #999;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #3a5c69; /* Icon color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.search-btn:hover {
    color: #1e3a48; /* Darker icon color on hover */
}

.va_menu_icon {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 99;
}

.va_menu_icon:focus {
    outline: none;
}

.va_menu_icon span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 6px;
    background: #fff;
    border-radius: 10px;
}

.va_menu_icon span:before, .va_menu_icon span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #fff;
    content: "";
    border-radius: 10px;
}

.va_menu_icon span:before {
    top: -14px;
}

.va_menu_icon span:after {
    bottom: -14px;
}

.va_menu_icon-X span {
    transition: background 0s 0.3s;
}

.va_menu_icon-X span:before, .va_menu_icon-X span:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.va_menu_icon-X span:before {
    transition-property: top, transform;
}

.va_menu_icon-X span:after {
    transition-property: bottom, transform;
}

.va_menu_icon-X.is-active span {
    background: none;
}

.va_menu_icon-X.is-active span:before {
    top: 0;
    transform: rotate(45deg);
}

.va_menu_icon-X.is-active span:after {
    bottom: 0;
    transform: rotate(-45deg);
}

.va_menu_icon-X.is-active span:before, .va_menu_icon-X.is-active span:after {
    transition-delay: 0s, 0.3s;
}

nav {
    position: absolute;
    top: 30px;
    left: 1850px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    z-index: 4;
}
.bubble_all {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4f7480;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;

}
.bubble_submenu{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left: 100%;
    top: 0;
    transform: translate(10px, 0); /* Adjust as needed */
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;

}
#sub_one, #sub_two, #sub_three, #sub_four, #sub_five, #sub_six {
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0 0 15px -5px #111;
    text-align: center;
    background-color: #779ca8;
}

#sub_one {
    left: 5px;
    svg{
        width: 70px;
        margin-top: -45px;
    }
}

#sub_two {
    left: 75px;
}
#sub_three{
    left: 150px;
    svg{
        transform: translateY(-385px);
    }
}
#sub_four{
    left: 225px;
}
#sub_five{
    left: 300px;
    svg {
        transform: translateY(-10px);
    }
}
#sub_six{
    left: 375px;
    svg {
        transform: translateY(-385px);
    }
}
#sub_one>h3, #sub_two>h3, #sub_three>h3, #sub_four>h3, #sub_five>h3, #sub_six>h3 {
    position: absolute;
    font-size: 16px;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

#one {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 3;
    box-shadow: 0 0 15px -5px #111;
    text-align: center;
    background-color: #779ca8;
    font-family: Lato, sans-serif;
    fill: black;
    h3 {
        position: absolute;
        font-size: 16px;
        color: #ffffff;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bubble svg{
    width: 40px;
    margin-top: 12px;
}
.bubble svg:hover ~ h3 {
    opacity: 1;
}
.bubble h3 {
    opacity: 0;
    transition: all 400ms;
    -webkit-transition: all 600ms;
}

#one svg {
    width: 40px;
    margin-top: 12px;
}
/* Center Shop Container */
#Shop_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Slideshow Container */
#Shop_top_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top : 100px;
    margin-bottom: 100px;
}

.slideshow_container {
    width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: #555555 4px solid;
    box-shadow: #555555 0px 4px 6px;
}

/* All images inside slideshow */
.slideshow_container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeSlideshow 12s infinite;
    transition: opacity 1s ease-in-out;
}

/* Delay each image */
.slideshow_container img:nth-child(1) { animation-delay: 0s; }
.slideshow_container img:nth-child(2) { animation-delay: 3s; }
.slideshow_container img:nth-child(3) { animation-delay: 6s; }
.slideshow_container img:nth-child(4) { animation-delay: 9s; }

/* Fade effect */
@keyframes fadeSlideshow {
    0% { opacity: 0; }
    8% { opacity: 1; }
    25% { opacity: 1; }
    33% { opacity: 0; }
    100% { opacity: 0; }
}

#cart-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}


#cart-wrapper {
    margin-top: 10px;
}

#products-imgs img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

#order-btn {
    background: #ff4e4e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: background 0.3s ease;
}

#order-btn:hover {
    background: #71b1ce;
}

#Shop_drop_wrapper {
    background-color: #3a5c69;
    display: flex;
    width: 100%;
    top:200px;
    gap: 10px;  /* Add spacing between filter & sort */
}

/* Filter Sidebar */
.Shop_dropdown {
    width: 150px;
    text-align: center;
    position: relative;
    color: white;
}
.Shop_dropbtn {
    background-color: #71b1ce;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Dropdown Content */
.Shop_dropdown-content {
    display: none;
    background-color: #3a5c69;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    left: 0;

}
.Shop_dropdown:hover .Shop_dropdown-content {
    display: block;
}


.Shop_dropdown-content a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
    transition: background-color 0.2s ease;
}


.Shop_dropdown-content a:hover {
    background-color: #648d0a;
}

/* Apply Filter Button */
.apply-filter {
    background-color: #71b1ce;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.apply-filter:hover {
    background-color: #4f7480;
}

#Shop_main_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 700px;
    overflow-y: auto;
}

#Product_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#Product_listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* grid layout */
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.Product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Product img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.add-to-cart {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.add-to-cart button {
    background-color: #3a5c69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.add-to-cart button:hover {
    background-color: #2c4854;
    transform: scale(1.1);
}

#footer div {
    text-align: center;
    flex: 1;
}
footer {
    width: 100%;
    height: auto;
    background-color: #3a5c69;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
