/* body styling ensures that horizontal scrolling is prevented and the box-sizing is set to border-box to make width and height calculations more predictable. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box;

    a:visited {
        color: white;
    }
    a:link {
        color: white;
    }
}


/* header and footer are styled to span the full width, with a background color and white text. Flexbox is used to evenly distribute content and align items centrally. */
.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #3a5c69;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    left: 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #bbbbbb;
    border-radius: 20px;
    padding: 5px 10px;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

.search-container:hover {
    border-color: #3a5c69;
}

.search-bar {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 400px;
    background: none;
    color: #333;
}

.search-bar::placeholder {
    color: #999;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #3a5c69; /* Icon color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.search-btn:hover {
    color: #1e3a48; /* Darker icon color on hover */
}

.va_menu_icon {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 99;
}

.va_menu_icon:focus {
    outline: none;
}

.va_menu_icon span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 6px;
    background: #fff;
    border-radius: 10px;
}

.va_menu_icon span:before, .va_menu_icon span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: #fff;
    content: "";
    border-radius: 10px;
}

.va_menu_icon span:before {
    top: -14px;
}

.va_menu_icon span:after {
    bottom: -14px;
}

.va_menu_icon-X span {
    transition: background 0s 0.3s;
}

.va_menu_icon-X span:before, .va_menu_icon-X span:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.va_menu_icon-X span:before {
    transition-property: top, transform;
}

.va_menu_icon-X span:after {
    transition-property: bottom, transform;
}

.va_menu_icon-X.is-active span {
    background: none;
}

.va_menu_icon-X.is-active span:before {
    top: 0;
    transform: rotate(45deg);
}

.va_menu_icon-X.is-active span:after {
    bottom: 0;
    transform: rotate(-45deg);
}

.va_menu_icon-X.is-active span:before, .va_menu_icon-X.is-active span:after {
    transition-delay: 0s, 0.3s;
}

nav {
    position: absolute;
    top: 30px;
    left: 1850px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    z-index: 4;
}
.bubble_all {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4f7480;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;

}
.bubble_submenu{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left: 100%;
    top: 0;
    transform: translate(10px, 0); /* Adjust as needed */
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 4;

}
#sub_one, #sub_two, #sub_three, #sub_four, #sub_five, #sub_six {
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0 0 15px -5px #111;
    text-align: center;
    background-color: #779ca8;
}

#sub_one {
    left: 5px;
    svg{
        width: 70px;
        margin-top: -45px;
    }
}

#sub_two {
    left: 75px;
}
#sub_three{
    left: 150px;
    svg{
        transform: translateY(-385px);
    }
}
#sub_four{
    left: 225px;
}
#sub_five{
    left: 300px;
    svg {
        transform: translateY(-10px);
    }
}
#sub_six{
    left: 375px;
    svg {
        transform: translateY(-385px);
    }
}
#sub_one>h3, #sub_two>h3, #sub_three>h3, #sub_four>h3, #sub_five>h3, #sub_six>h3 {
    position: absolute;
    font-size: 16px;
    color: white;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

#one {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 3;
    box-shadow: 0 0 15px -5px #111;
    text-align: center;
    background-color: #779ca8;
    font-family: Lato, sans-serif;
    h3 {
        position: absolute;
        font-size: 16px;
        color: white;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bubble svg{
    width: 40px;
    margin-top: 12px;
}
.bubble svg:hover ~ h3 {
    opacity: 1;
}
.bubble h3 {
    opacity: 0;
    transition: all 400ms;
    -webkit-transition: all 600ms;
}

#one svg {
    width: 40px;
    margin-top: 12px;
}


/* Content container is set to take full width and height with relative positioning, padding is added to ensure spacing inside. */
#content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

#Front_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    margin-bottom: 40px;
}

/* Image container with proper positioning */
.img_container {
    position: relative;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

/* Separate div for the blurred background */
.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/Londis_Front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(20px);
    z-index: 1;
}

/* Center content in a column */
.text_content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; /* Stack h1 and h2 vertically */
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}


/* ShopNow button styling */
.ShopNow a {
    text-decoration: none;
    border-radius: 10px;
    box-shadow: black 0px 1px 1px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.ShopNow a:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    color: #b9b9b9;
    box-shadow: #FFFFFF 2px 1px 10px;
}


/* Flexbox-based layout for content containers to evenly distribute space. */
#content_container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
/* Help Container - Centers Text */
#Help_container {
    text-align: center;
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    font-family: Lato, sans-serif;
}

/* Help Box - Displays help descriptions in a row */
#help_box {
    display: flex;
    justify-content: center; /* Center helpboxes */
    align-items: flex-start; /* Aligns items at the top */
    gap: 40px;
    flex-wrap: wrap; /* Allows responsiveness */
    margin-top: 40px;
}

/* Individual Help Box */
.help_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* SVG Styling */
.help_svg svg {
    width: 60px;
    height: 60px;
    fill: #ff6600;
    margin-bottom: 15px;
}

/* Help Text */
.help_text h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.help_text p {
    font-size: 14px;
    color: #666;
}
/* Featured container uses flex to align text and slideshow side by side */
#Featured_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; /* Adds space between text and slideshow */
    padding: 20px;
    margin-bottom: 50px;
}

/* text area styling */
#Featured_text {
    flex: 1; /* Takes up remaining space */
    max-width: 50%; /* Ensures the text does not take up too much space */
}

/* featured header and paragraph */
#Featured_text h1 {
    font-family: Lato, sans-serif;
    font-size: 30px;
}

#Featured_text p {
    font-family: Lato, sans-serif;
    font-size: 25px;
}

/* Slideshow container styling */
#Featured {
    flex: 1;
    max-width: 50%; /* Ensures slideshow doesn’t take up all the space */
}

#slideshow {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

/* Each slide is set to float left with defined width, ensuring image responsiveness */
.slide {
    width: 728px;
    height: auto;
    display: inline-block;
}

.slide img {
    width: 100%;
    height: 90%;
}

.slide p {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 10px;
    color: black;
}

/* slideshow wrapper has a calculated width for multiple slides and an infinite animation effect */
.slide-wrapper {
    display: flex;
    width: calc(728px * 4);
    animation: slide 25s ease infinite;
}

/* Keyframe animation for slideshow transitions
    total width -> from width: calc
    switches context images based on width
*/
@keyframes slide {
    20% {
        /* initial 0px*/
    }
    40% {
        margin-left: -728px;
    }
    60% {
        margin-left: -1456px;
    }
    80% {
        margin-left: -2184px;
    }
    100% {
        /* - will loop back */
    }
}

/* Reviews section has a defined size, flexbox centering, and a transparent background with a ridge border. */
#Reviews_container {
    border: black ridge 2px;
    background-color: rgba(31, 30, 30, 0.21);
    color: black;
    height: 700px;
    width: 800px;
    overflow: hidden;
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

/* Review text styling. */
#Reviews_Text {
    margin: 200px 0 20px 0;

    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; /* Adds space between stars and text */
    font-family: Lato, sans-serif;
}

/* Container for the stars, aligned horizontally */
.Stars {
    display: flex;
    justify-content: center; /* Centers the stars in the container */
    align-items: center;     /* Vertically aligns them */
    gap: 5px;                /* Space between stars */
}

/* You can apply a specific size to the SVG stars if necessary */
.Stars svg {
    width: 30px;
    height: 30px;
}


/* Reviews text container */
#Reviews_Text_textbox {
    flex: 2;
    display: flex;
    flex-direction: column; /* Stack heading and paragraph vertically */
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#Reviews_Text_textbox h1 {
    font-size: 30px;
    margin-bottom: 10px; /* Adds space below the heading */
}

#Reviews_Text_textbox p {
    font-size: 16px;
    color: #555;
    max-width: 600px; /* Controls max width for better readability */
}



/* Review container styling. */
.review{
    height: auto;
    width: 800px;
}

/* Individual review items with image and text formatting. */
.review-number{
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 0 auto;
    text-align: center;
}
.review-number img {
    width: 350px;
    height: 350px;
    border: black solid 3px;
    border-radius: 250px;
}

/* Animation applied to review wrapper for smooth scrolling effects.

 */
.review_wrapper{
    width: calc(800px * 3);
    position: relative;
    animation: scroll 40s ease-out forwards infinite;
}
/* vertical scroll
    from top end to bottom
 */
@keyframes scroll {
    from { top: 700px; }
    to { top: -700px; }
}

/* Footer specific text alignment and flex settings. */
#footer {
    text-align: center;
    flex: 1;
}
footer {
    width: 100%;
    height: auto;
    background-color: #3a5c69;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}